* {
  height: 100%;
  width: 100%;
}

.sidebar-icon {
  height: 25px;
  width: 25px;
  padding: 4px 20px 10px 16px;
  color: #5e5e5e;
}

.sidebar-icon-profile {
  height: 25px;
  width: 25px;
  padding: 44px 20px 10px 16px;
  color: #5e5e5e;
  cursor: pointer;
}

.Hover:hover {
  background-color: rgb(163, 163, 163);
}

.accordioncontent.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic bezier(1, 0, 1, 0);
}

.accordioncontent.show p {
  list-style-type: none;
}
